@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Roboto:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.nav_foto1{
    background-image: url(imagens/macarronhoriz.jpg);
    max-width: 100vw;
    height: 120vh;
    background-size: cover;
    background-repeat: no-repeat;
   

}
.logonav{
    
    margin-left: 2rem;
   
}
.navegation {
    
    height: 10vh;
    max-width: 100%;
    display: flex;
    justify-content:space-between;
    padding-top: 1.5rem;
    padding-right: 1rem;
    background-color: rgba(102, 36, 36, 0.541);
   
}
.navegation  a:hover{
    color: pink;
    transform:scale(1.5);
    transition: 1s;
    

}

a{
    color: white;
    font-family: 'Cairo', sans-serif;
}
.textdiscount{
    color: white;
    font-family: 'Cairo', sans-serif;
    padding-bottom: 3rem;
    
   
}
.Discount{
  
    width: 30rem;
    height: 30rem;
    padding-top: 12rem;
    margin: 2rem;
    
}
.botao1{
   
    border-radius: 20px;
    background-color: #A50233;
    width: 10rem;
    height: 2rem;
    color: white;
    font-family: 'Cairo', sans-serif;
    letter-spacing: 1px;
    cursor: pointer;

}
.botao1:hover {
    transform:scale(1.3);
    transition: 1s;
}

.info1{
    
    height: 10vh;
    background-color: #E2A7B9;
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;
}
.infoentrega{
    color: black;
}
.aboutus{
    
    height: 23vh;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 1.5rem;
    background-color:#E7C9D2;
    
}
.whatwedo{
    
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Cairo', sans-serif;
    background-color: #E2A7B9;

}
.divSepararCor{
    height: 10vh;
    background-color: #E2A7B9
}
.diVoquefazemOs{
    background-color: #E2A7B9;
    
    height: 20vh;
    padding-top: 0.8rem;
    text-align: center;
    font-family: 'Cairo', sans-serif;
    font-size: 1.5rem;

}
.artesanal{
    
    font-size: 1.5rem;
    font-family: 'Cairo', sans-serif;
    background-color:#E7C9D2;
    color: black;
    padding-top: 2rem;
    width: 15vw;
    text-align: center;
    
    
}
.ingredientes{
   
    font-size: 1.5rem;
    font-family: 'Cairo', sans-serif;
    background-color:#E7C9D2;
    color: black;
    padding-top: 2rem;
    width: 15vw;
    text-align: center;

}
.decoração{
    font-size: 1.5rem;
    font-family: 'Cairo', sans-serif;
    background-color:#E7C9D2;
    color: black;
    padding-top: 2rem;
    width: 15vw;
    text-align: center;
    
 
}
.entrega{
    
    font-size: 1.5rem;
    font-family: 'Cairo', sans-serif;
    background-color:#E7C9D2;
    padding-top: 2rem;
    width: 15vw;
    text-align: center;
    color: black;
}

.categorias{
   
    background-color: #E7C9D2;
    height: 120vh;
}
.produtos{
    display:inline-block;
    margin-left: 95px;
    height: 53vh;
    padding-top: 50px;
    padding-left: 50px;
   
   
}
.produtos button{
    background-color:#A50233;
    border-radius: 20px;
    height: 30px;
    width:10rem;
    font-size: medium;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-left: 2rem;
    
}


.tituloproduto{
    color: black;
    font-family: 'Cairo', sans-serif;
    margin-left: 5rem;
}
img{
    border-radius: 10px;
}
.divmaisopcoes{
   
    height: 50px;
    display: flex;
    justify-content: end;
    padding-right: 3rem;
}
.botaopcoes{
    background-color:#A50233;
    border-radius: 20px;
    height: 30px;
    width:10rem;
    font-size: medium;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-top: 1.5rem;

}
.botaopcoes:hover{
    color: pink;
    transform:scale(1.2);
    transition: 3s;
}
.feedback{
    background-color: #E7C9D2;
    height: 100vh;
    border: solid black;
}
.Divfeedback{
    width: 100%;
    display: flex;
    
   
    

.feedback1{
    border: solid red;
    height: 50vh;
    margin-top: 200px;
    padding-right: 100px;
   
    
}
