@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Roboto:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.nav_foto1{
    background-image: url(imagens/macarronhoriz.jpg);
    max-width: 100vw;
    height: 120vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
   

}

.logonav{
    
    margin-left: 2rem;
    height: 70px;
    padding-top: 2rem;
   
   
}
.navegation {
    
    height: 10vh;
    max-width: 100%;
    display: flex;
    justify-content:space-around;
    padding-top: 1.5rem;
    background-color: rgba(102, 36, 36, 0.541);
    position: relative;
   padding-right: 10rem;
    
   
}
.navegation  a:hover{
    color: pink;
    transform:scale(1.5);
    transition: 1s;
    

}
.menu{
    border-radius: 20px;
    background-color: rgba(102, 36, 36, 0.541);;
    color: white;
    font-family: 'Cairo', sans-serif;
    height: 30px;
    padding-left: 30px;
}

a{
    color: white;
    font-family: 'Cairo', sans-serif;
}
.textdiscount{
    color: white;
    font-family: 'Cairo', sans-serif;
    padding-bottom: 3rem;
    
   
}
.Discount{
  
    width: 30rem;
    height: 30rem;
    padding-top: 15rem;
    margin: 2rem;
    
}
.botao1{
   
    border-radius: 20px;
    background-color: #A50233;
    width: 10rem;
    height: 2rem;
    color: white;
    font-family: 'Cairo', sans-serif;
    letter-spacing: 1px;
    cursor: pointer;

}
.botao1:hover {
    transform:scale(1.3);
    transition: 1s;
}

.info1{
    
    height: 10vh;
    background-color: #E2A7B9;
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;
    position: relative;
}
.infoentrega{
    color: black;
}
.aboutus{
    
    height: 23vh;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 1.5rem;
    background-color:#E7C9D2;
    
    
}
.whatwedo{
    
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Cairo', sans-serif;
    background-color: #E2A7B9;
    position: relative;

}
.divSepararCor{
    height: 10vh;
    background-color: #E2A7B9;
    position: relative;
}
.diVoquefazemOs{
    background-color: #E2A7B9;
    
    height: 20vh;
    padding-top: 0.8rem;
    text-align: center;
    font-family: 'Cairo', sans-serif;
    font-size: 1.5rem;
    position: relative;

}
.artesanal{
    
    font-size: 1.5rem;
    font-family: 'Cairo', sans-serif;
    background-color:#E7C9D2;
    color: black;
    padding-top: 2rem;
    width: 15vw;
    text-align: center;
    position: relative;
    
    
}
.ingredientes{
   
    font-size: 1.5rem;
    font-family: 'Cairo', sans-serif;
    background-color:#E7C9D2;
    color: black;
    padding-top: 2rem;
    width: 15vw;
    text-align: center;
    position: relative;
    }
.decoração{
    font-size: 1.5rem;
    font-family: 'Cairo', sans-serif;
    background-color:#E7C9D2;
    color: black;
    padding-top: 2rem;
    width: 15vw;
    text-align: center;
    position: relative;
    
 
}
.entrega{
    
    font-size: 1.5rem;
    font-family: 'Cairo', sans-serif;
    background-color:#E7C9D2;
    padding-top: 2rem;
    width: 15vw;
    text-align: center;
    color: black;
    position: relative;
}

.categorias{
   
    background-color: #E7C9D2;
    height: 120vh;
    
}
.produtos{
    display:inline-block;
    margin-left: 95px;
    height: 53vh;
    padding-top: 50px;
    padding-left: 60px;
    
   
   
}
.produtos button{
    background-color:#A50233;
    border-radius: 20px;
    height: 30px;
    width:10rem;
    font-size: medium;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-left: 2rem;
    
}

.tituloproduto{
    color: black;
    font-family: 'Cairo', sans-serif;
    margin-left: 5rem;
}
img{
    border-radius: 10px;
}
.divmaisopcoes{
   
    height: 50px;
    display: flex;
    justify-content: end;
    padding-right: 3rem;
}
.botaopcoes{
    background-color:#A50233;
    border-radius: 20px;
    height: 30px;
    width:10rem;
    font-size: medium;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-top: 1.5rem;

}
.botaopcoes:hover{
    color: pink;
    transform:scale(1.1);
    transition: 2s;
}
.feedback{
    background-color: #E7C9D2;
    height: 100vh;
    border: solid black;
    padding-left: 200px;
}
.Divfeedback{
    width: 100%;
    display: flex;
    
   
}

.tituloproduto2{
    color: black;
    font-family: 'Cairo', sans-serif;
    margin-left: 4rem;

}
.tituloproduto3{
    color: black;
    font-family: 'Cairo', sans-serif;
    margin-left: 5rem;
}
.tituloproduto4{
    color: black;
    font-family: 'Cairo', sans-serif;
    margin-left: 4rem;
}
.tituloproduto5{
    color: black;
    font-family: 'Cairo', sans-serif;
    margin-left: 2rem;
}
.tituloproduto6{
    color: black;
    font-family: 'Cairo', sans-serif;
    margin-left: 3rem;
}
.localizacao {
    height: 15vh;
    color: black;
    font-family: 'Cairo', sans-serif;
    font-size: 2rem;
    background-color: #E7C9D2;
    display: flex;
    justify-content: center;
    position: relative;
   
}
.mapa{
    position: relative;
}

.rodape{
    background-color: rgba(102, 36, 36, 0.541);
    padding-left:50%;
    padding-top: 3rem;
    height: 20vh;
    
    
   
   
}